.product-card {
  background-color: #fff;
  width: 320px;
  border: 1px solid black;
  border-radius: 4px;
}

img {
  max-width: 100%;
  height: auto;
}

.product-details {
  text-align: center;
  padding: 20px;
}

.product-details h3 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.product-price {
  font-size: 13px;
  color: red;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.product-buy {
  background-color: #8ce1b4;
  color: #fff;
  border: none;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  width: 100%;
  max-width: 150px;
  text-align: center;
}

.product-buy:hover {
  background-color: rgba(46, 125, 50, 0.5);
}
