.faq {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #f3f3f3;
  border-radius: 10px;
}

.faq-item {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
}

.faq-item h3 {
  margin-bottom: 10px;
  cursor: pointer;
}

.faq-item p {
  color: hsl(0, 0%, 65%);
}

.faq-item h3:active {
  color: rgb(0, 128, 255);
}
.faq-item h3:active ~ p {
  color: orange;
}
